<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>测试</h1>
    <!-- action:提交至服务器的地址 -->
    <form action="/search2" method="POST">
        <input type="text" name="searchKey">
        <input type="password" name="username">
        <input type="submit" value="搜素">
    </form>
</body>

</html>